/* media queries */

@media (max-width: 600px) {
  #page3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sample-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-right: 0;
  }

  .sample-projects {
    max-width: 1000px;
    height: 100%;
    margin-right: unset;
    border-radius: 20px;
    overflow: hidden;
  }
}
