/* media queries */
@media (max-width: 1500px) {
  #page3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  #page3 {
    position: relative;
  }

  .sample-h1 {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .sample-container {
    position: absolute;
    bottom: 4%;
    height: 70vh;
  }
}
