* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #fff;
  background-color: #b2aeab;
  position: relative;
  z-index: -3;
}

body {
  overflow-x: hidden;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top: 0;
  pointer-events: none;
  min-height: 831px;
  background: transparent;
  z-index: -2;
}

.App {
  position: relative;
  overflow-x: hidden;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7b797741;
  color: #000;
  width: 100%;
  height: 65px;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Nunito";
  z-index: 2;
}

.logo {
  height: 60px;
  width: 60px;
}

.logo img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.logo-and-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.logo-and-name a {
  text-decoration: none;
  font-weight: 900;
  color: #151644;
  font-size: 25px;
}

.logo-and-name a:hover {
  background: linear-gradient(to right, #151644 0, white 10%, #151644 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-weight: 800;
  background-color: #c2bfbd;
  padding-block: 5px;
  padding-inline: 15px;
  border-radius: 20px;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 120px;
  }
}

.active {
  font-weight: 900 !important;
  text-decoration: underline !important;
}

.gif {
  height: 300px;
  width: 300px;
}

#loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.gif img {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#page1 > div {
  margin-bottom: 150px;
  perspective: 1000px;
}

.aim {
  display: flex;
  align-items: center;
  gap: 200px;
}

.text-intro {
  min-width: 600px;
  font-size: clamp(1.5vh, 50px, 3vh);
  font-family: "Poppins";
  color: #363537af;
  font-weight: 400;
}

.aim h1 {
  font-size: 500px;
  text-wrap: nowrap;
  font-family: "Jockey One";
  color: #31313e9b;
}

#page1 img {
  height: 100%;
  width: 100%;
}

#page2 {
  height: 100vh;
  width: 100%;
}

#page3 {
  height: 100vh;
  width: 100%;
}

#page4 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}

.contact-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-links h1 {
  color: #2a292bf2;
}

.contact-links svg {
  cursor: pointer;
  width: 180px;
  color: #2a292bc9;
  animation: scale-up-center-alternate 1.5s linear 0s infinite alternate none;
  transition-duration: 0.5s;
}

@keyframes scale-up-center-alternate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.contact-links svg:hover {
  scale: 0.8;
  color: #282729f5;
}

.ig-link {
  margin-bottom: 100px;
}

#tilt-text {
  color: #31313ed7;
  font-size: clamp(50px, 18vh, 300px);
  font-family: "Roboto";
}

.swiper {
  height: 80px;
  width: 40px;
  position: absolute;
  bottom: 30px;
  border-radius: 20px;
  border: 5px solid #31313eab;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 10px;
}

.swiper > div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #31313eab;
}

/* ---------nav-link animation----- */

.nav-links a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.nav-links a::before,
.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  margin-block: 5px;
  left: 15px;
}
.nav-links a::before {
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.nav-links a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #000;
}

.nav-links a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.nav-links a:hover::after {
  transform: translate3d(0, 0, 0);
}

.nav-links a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-links a:hover span {
  transform: translate3d(-200%, 0, 0);
}

/* ------------------------------------------ */
